{% extends "base.html" %}

{% block extraheader %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <h3 class="section-title mdl-typography--display-1"> Your Recomendations </h3>
    <hr />
    <div class="movies-list">
        {% for movie in recommendations %}
            {% include "movie-item.html" %}
        {% endfor %}
    </div>

    {% if likes %}
        <h3 class="section-title mdl-typography--display-1">Your Likes</h3>
        <hr />
        <div class="movies-list">
            {% for movie in likes %}
                {% include "movie-item.html" %}
            {% endfor %}
        </div>
    {% endif %}

    <h3 class="section-title mdl-typography--display-1"> Most Viewed </h3>
    <hr />
    <div class="movies-list">
        {% for movie in most_viewed %}
            {% include "movie-item.html" %}
        {% endfor %}
    </div>
{% endblock %}
