.section-title {
    color: #888;
}

.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    margin: 0 10px 10px 0;
    height: 256px;
}

.mdl-card__title {
    background-size: cover;
    height: 180px;
}
